<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<div style="display: flex;">

<div style="display: flex;">

    A)&nbsp;

    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Deneme HTML</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    Seçenek 1
  </body>
</html>
</div>

<div style="display: flex;">
  B)&nbsp;

    <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Deneme HTML</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
      Seçenek 2
    </body>
  </html>

</div>
</div>

<div style="display: flex;">

<div style="display: flex;">
  C)&nbsp;
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Deneme HTML</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
      Seçenek 3
    </body>
  </html>
</div>

<div style="display: flex;">
  D)&nbsp;
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Deneme HTML</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
      Seçenek 4
    </body>
  </html>
</div>
</div>

<table>
  <tr>
    <td>A)&nbsp;</td>
    <td>
      <html lang="en">
      <head>
        <meta charset="utf-8" />
        <title>Deneme HTML</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
      </head>
      <body>
        Seçenek 1
      </body>
    </html></td>

  </tr>


</table>





